@import '../../../assets/styles/_variables.scss';
@import '../../../assets/styles/_mixins.scss';

.laneHeaderText {
  overflow: auto;
  width: 100%;
  padding: 0.5rem;
  background-color: $transparent-white-50;
  box-shadow: 0 0 0.3rem 0.03rem rgba(0, 0, 0, 0.3);
  // //To get min-height
  display: inline-block;
  //To display all contents
  white-space: normal;
  transition: 0.6s;

  &:hover,
  &:focus {
    box-shadow: 0 0 0.3rem 0.03rem rgba(0, 0, 0, 0.7);
  }
}
