@import '../../assets/styles/_variables.scss';
@import '../../assets/styles/_mixins.scss';

.editable {
  &__value {
    display: inline-block;
    @include font-size-m;
  }

  &__edit {
    display: block;
    @include font-size-m;

    &:focus {
      outline: none;
    }
  }
}
