@import '../../assets/styles/_variables.scss';
@import '../../assets/styles/_mixins.scss';

.laneHeader {
  background-color: $secondary;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  //Considering when a user type long text
  max-width: 15rem;

  &__text {
    text-transform: uppercase;
    font-weight: 700;
  }
}
