@import '../../../assets/styles/_variables.scss';
@import '../../../assets/styles/_mixins.scss';

.editable {
  &__value {
    display: inline-block;
    @include font-size-m;
  }

  &__edit {
    display: inline-block;
    //Handle to display the words inside of the box
    overflow-wrap: break-word;
    white-space: initial;
    @include font-size-m;

    &:focus {
      outline: none;
    }
  }
}
